[submodule "roles/svxlink-builder"]
	path = roles/svxlink-builder
	url = https://github.com/sm0svx/ansible-role-svxlink-builder.git
[submodule "roles/svxlink-runner"]
	path = roles/svxlink-runner
	url = https://github.com/sm0svx/ansible-role-svxlink-runner.git
[submodule "roles/svxportal"]
	path = roles/svxportal
	url = https://github.com/sm0svx/ansible-role-svxportal.git
