###################################################################
#
# Configuration file for the SvxReflector SvxLink conference node
#
###################################################################

[GLOBAL]
#CFG_DIR=svxreflector.d
TIMESTAMP_FORMAT="%c"
LISTEN_PORT=5300
#SQL_TIMEOUT=600
#SQL_TIMEOUT_BLOCKTIME=60
#CODECS=OPUS
TG_FOR_V1_CLIENTS=999
#RANDOM_QSY_RANGE=12399:100
#HTTP_SRV_PORT=8080

[USERS]
SK3ABC=SK3ABC
SM0XYZ=MyNodes

[PASSWORDS]
{% for name in reflector_passwords %}
{{ name }}="{{ reflector_passwords[name] }}"
{% endfor %}
